%tr{:id => "content_#{content.id}"}
  %td.folder= content.destination_folder
  %td.title= content.cadre_title
  %td.content_type= content.content_type
  %td.media= content.media
  %td.burns= "#{content.burns.completed.count}/#{content.burns.count}"
  %td.functions
    = link_to "Process", history_process_url(content), :confirm => "Are you sure you wish to process this video?", :remote => true
    = " | "
    = link_to "Delete", history_path(content), :confirm => "Are you sure you wish to delete this job?", :remote => true, :method => :delete